.Wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }

  button {
    height: fit-content;
    font-weight: bold;
  }
}
